
body{
    background-color: #000;
}

*{
    color: white;
}

#hero{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/352/153/desktop-wallpaper-nice-backgrounds-extra-nice-background-pic-thumbnail.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

#tasks{
    background-image: url("https://e1.pxfuel.com/desktop-wallpaper/620/881/desktop-wallpaper-nice-backgrounds-%C2%B7%E2%91%A0-nice-background-pic.jpg");
    min-height: 50vh;
    background-position: center;
    background-size: cover;
}