
@font-face {
    font-family: sourcesans3;
    src: url("../fonts/SourceSans3-VariableFont_wght.ttf");
}

@font-face {
    font-family: RobotoMono;
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
}

html{
    scroll-behavior: smooth;
}

body{
    background: #e9ecee;
}

*{
    font-family: RobotoMono, sans-serif;
    box-sizing: border-box;
}

::selection{
    background: rgb(66, 34, 180);
    color: white;
}

/* ! navbar */
.navbar{
    position: absolute;
    width: 100%;
}

.navbar-nav{
    margin-top: 40px;
}

.nav-link{
    color: white;
    font-size: 18px;
}

.nav-link:hover{
    color: black;
    transition: 1s;
    transition-delay: 0ms;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

#projects-nav-link{
    margin-left: 20px;
    margin-right: 20px;
}

/* ! landing page */
#hero{
    background: linear-gradient(rgba(66, 34, 180, 0.4),rgba(66, 34, 180, 0.4)), url("../img/backgroundpic.jpg") fixed center;
    background-position: center center;
    min-height: 100vh;
    background-size: cover;
}

.main-text{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-text h1{
    font-weight: 800;
}

.main-text h5{
    font-weight: 400;
}

#last-line::after{
    margin-left: 3px;
    bottom: 0;
    content: "";
    width: 4px;
    height: 14px;
    line-height: 0;
    background: white;
    display: inline-block;
    -webkit-animation: blink 1.1s infinite;
}

@-webkit-keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}

/* ! about me */
#about-me{
    color: black;
    min-height: 70vh;
    margin-bottom: 100px;
}

.about-me-text{
    margin-top: 40px;
    text-align: center;
}

#borderline-aboutme{
    border: 2px solid rgb(53, 21, 172);
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.about-me-text p{
    margin-top: 30px;
}

#btn-contactme{
    margin-top: 10px;
    width: 180px;
    height: 45px;
    font-weight: bold;
}

.about-me-pics{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#soccer-pic{
    margin-left: 20px;
    margin-right: 20px;
}

/* ! projects */
#projects{
    min-height: 160vh;
    color: black;
}

.title-projects{
    text-align: center;
    margin-top: 40px;
}

#borderline-projects{
    border: 2px solid rgb(53, 21, 172);
    width: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.project-div{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.project-text{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-pic-div{
    display: flex;
    justify-content: center;
}

.btn-primary, .btn-primary:active{
    background-color: rgb(53, 21, 172) !important;
    position: relative;
    top: 0;
}

.btn-primary:hover{
    position: relative;
    top:-2px;
    transition: all .1s linear 0s;
    -webkit-transition: all .1s linear 0s;
    -moz-transition: all .1s linear 0s;
    -ms-transition: all .1s linear 0s;
    -o-transition: all .1s linear 0s;
}

#btn-learn-more{
    font-weight: bold;
    padding: 10px 0 10px 0;
    width: 30%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.project-pic-div h4{
    margin-top: auto;
    margin-bottom: auto;
}

.paragraph-project-text{
    margin-top: 20px;
    margin-bottom: 35px;
}

#jj-website-div, #tictactoe-div{
    margin-top: 100px;
}

.swiper{
    width: 460px;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-next, .swiper-button-prev{
    color: white;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* ! contact page */
#contact{
    min-height: 40vh;
    color: white;
    background-color: rgb(53, 21, 172);
}

.main-text h1::selection, h5::selection, .emails h3::selection,h6::selection, a::selection, .contact-buttons p::selection, .left-side-contact::selection, .left-side-contact a::selection, i::selection{
    background: white !important;
    color: black !important;
}

.emails {
    text-align: center;
    margin-bottom: 70px;
    margin-top: 80px;
}

.emails h3 {
    margin-top: 20px; /* Adjust the margin as needed */
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.emails a{
    display: block;
    margin: 10px auto; /* Adjust the margin as needed */
    max-width: 250px; /* Set a maximum width for the links */
    text-align: center;
}

#school-email{
    margin-top: 10px;
    max-width: 200px;
}

.emails h3{
    display: block;
    margin-bottom: 20px;
}

.emails a{
    color: white;
    text-decoration: none;
}
.emails a:hover{
    color: #777676;
    transition: .2s;
}

#border-line-contact{
    margin-top: 70px;
    border: 1px solid white;
}

.contact-buttons{
    display: flex;
    justify-content: space-between;
}

#github-btn{
    margin-left: 10px;
    margin-right: 10px;
}

#linkedin-btn, #github-btn{
    color: white;
    font-size: 25px;
}

#linkedin-btn:hover, #github-btn:hover{
    color: #777676;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}


/* @media screen and (max-width: 414px){

    .navbar-nav{
        margin-top: 100px;
    }

    .nav-link{
        font-size: 100px;
    }

    .main-text h1{
        font-size: 90px;
    }
    .main-text h2{
        font-size: 60px;
    }
} */

@media screen and (max-width: 455px){
    .nav-link{
        font-size: 14px;
    }
    .main-text h1{
        font-weight: 600;
    }
    .main-text h5{
        font-weight: 400;
    }
}

@media screen and (max-width: 380px){ 
    .main-text h1{
        font-size: 30px;
        font-weight: bold;
    }
    .main-text h5{
        font-size: 12px;
    }
}

@media screen and (max-width: 1050px){
    /* ! about me */
    #about-me{
        margin-top: 60px;
    }
    #soccer-pic{
        margin-left: 0;
        margin-right: 0;
    }

    .about-me-pics img{
        max-width: 100%;
        max-height: 100%;
    }

    /* ! projects */
    .project-div{
        flex-direction: column;
    }

    #jj-website-div{
        flex-direction: column-reverse;
    }

    .project-text{
        margin-bottom: 100px;
    }

    #workouttracker-div, #jj-website-div{
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 1300px) {
    .project-div{
        margin-bottom: 200px;
    }
    .about-me-pics{
        flex-direction: column;
        align-self: center;
        text-align: center;
    }
}