
@font-face {
    font-family: sourcesans3;
    src: url("../fonts/SourceSans3-VariableFont_wght.ttf");
}

@font-face {
    font-family: RobotoMono;
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
}

html{
    scroll-behavior: smooth;
}

body{
    background: #062b3b;
}

*{
    font-family: RobotoMono, sans-serif;
    box-sizing: border-box;
}

::selection{
    background: #a4a3a3;
}

/* ! navbar */
.navbar{
    position: absolute;
    width: 100%;
}

.navbar-nav{
    margin-top: 40px;
}

.nav-link{
    color: white;
    font-size: 18px;
}

#projects-nav-link{
    margin-left: 20px;
    margin-right: 20px;
}

/* ! landing page */
#hero{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../img/backgroundpic.jpg") fixed center;
    min-height: 100vh;
    background-size: cover;
}

.main-text{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-text h1{
    font-weight: 800;
}

.main-text h5{
    font-weight: 400;
}

#last-line::after{
    margin-left: 3px;
    bottom: 0;
    content: "";
    width: 4px;
    height: 14px;
    line-height: 0;
    background: white;
    display: inline-block;
    -webkit-animation: blink 1.1s infinite;
}

@-webkit-keyframes blink {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 100%;
    }
    100%{
        opacity: 0;
    }
}

/* ! about me */
#about-me{
    color: white;
    min-height: 70vh;
}

.about-me-text{
    margin-top: 40px;
    text-align: center;
}

.about-me-text p{
    margin-top: 20px;
}

.about-me-pics{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#soccer-pic{
    margin-left: 20px;
    margin-right: 20px;
}

/* ! projects */
#projects{
    min-height: 160vh;
}

.title-projects{
    color: white;
    text-align: center;
    margin-top: 40px;
}

.project-div{
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

.project-text{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-pic-div{
    display: flex;
    justify-content: center;
}

#btn-learn-more{
    font-weight: bold;
    padding: 10px 0 10px 0;
    width: 30%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.project-pic-div h4{
    margin-top: auto;
    margin-bottom: auto;
}

.paragraph-project-text{
    margin-top: 20px;
    margin-bottom: 35px;
}

.swiper{
    width: 460px;
    height: fit-content;
}

.swiper-slide img{
    width: 100%;
}

.swiper-button-next, .swiper-button-prev{
    color: white;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

/* ! contact page */
#contact{
    min-height: 80vh;
    color: white;
}

.contact-section-title{
    text-align: center;
}

.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}

#email-name, #message-name, #send-form-btn{
    margin-top: 18px;
}

.form-control{
    width: 60vh;
}

#text-form{
    min-height: 20vh;
    resize: none;
}

#send-form-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

#border-line-contact{
    margin-top: 70px;
    border: 1px solid white;
}

.contact-buttons{
    display: flex;
    justify-content: space-between;
}

#github-btn{
    margin-left: 10px;
    margin-right: 10px;
}

#linkedin-btn, #github-btn, #email-btn{
    color: white;
    font-size: 25px;
}

#linkedin-btn:hover, #github-btn:hover, #email-btn:hover{
    color: #777676;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}


/* ! mobile */
@media screen and (max-width: 991px){
    .main-text h1{
        font-size: 100px;
    }
    .main-text h2{
        font-size: 60px;
    }
}

@media screen and (max-width: 1280px){
    .about-me-pics{
        flex-direction: column;
    }
    #soccer-pic{
        margin-left: 0;
        margin-right: 0;
    }
}